Solution/.vs
Solution/Solution.App/obj
Solution/Solution.WebApi/bin
Solution/Solution.WebApi/obj
Solution/Solution.App/bin
Solution/Solution.Common/bin
Solution/Solution.Common/obj
Solution/Solution.Data/bin
Solution/Solution.Data/obj
